body {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 24pt;
    color: #cc0000;
}

h4 {
    text-decoration: underline;
    font-size: 18pt;
    color: #734d26;
}

ul {
    list-style-type: decimal;
    list-style-position: inside;
}

li {
    font-size: 14pt;
    font-weight: bold;
}